body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;
}

#numberBoard {
    flex: auto;
}

button {
    font-size: 50px;
    padding: 15px;
    width: 65px;
}

#\30 {
    order: 16;
}

#\31 {
    order: 3;
}

#\32 {
    order: 4;
}

#\33 {
    order: 5;
}

#\34 {
    order: 7;
}

#\35 {
    order: 8;
}

#\36 {
    order: 9;
}

#\37 {
    order: 11;
}

#\38 {
    order: 12;
}

#\39 {
    order: 13;
}

#\+ {
    order: 14;
}

#\- {
    order: 10;
}

#\* {
    order: 6;
}

#\/ {
    order: 2;
}
#decimal {
    order: 15;
}

#equals {
    order: 17;
    width: 48%;
}

#allClear {
    order: 0;
    width: 35%;
}

#clear {
    order: 1;
    width: 35%;
}